<h4><%= _("Merge Articles") %></h4>
  <div class='class'>
    <%= _("Article ID")%>
    <%= text_field '', 'merge_with', {:name =>'merge_with' ,:autocomplete => 'off', :style => 'width: 30%'} %>
    <input id='merge' type="submit" value="<%= _('Merge') %>" name="merge" class='btn info' />
  </div>
